<section>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>User</mat-label>
      <input
        matInput
        placeholder="user"
        formControlName="user"
        type="text"
        aria-label="User"
        required
      />
      <mat-error *ngIf="hasError('user', 'required', form)">
        Campo <strong>User</strong> é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        id="login-password"
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Sua senha"
        formControlName="password"
        tabindex="0"
        aria-label="Senha"
        maxlength="15"
        required
      />
      <span
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        id="password-visibility"
        data-cy
        [attr.data-cy]="'toggle-password'"
        attr.aria-label="{{ hide ? 'Mostrar senha' : 'Esconder senha' }}"
        tabindex="0"
      >
        <mat-icon color="primary" [ngClass]="hide ? 'is-hidden' : ''">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </span>
      <mat-error *ngIf="hasError('password', 'required', form)"
        >Campo <strong>Senha</strong> é obrigatório!</mat-error
      >
    </mat-form-field>

    <button mat-button #submit type="submit" [disabled]="form.invalid">Acessar</button>
  </form>
</section>
